@model X.PagedList.IPagedList<CRBClient.Models.BetViewModel>
@using X.PagedList.Mvc.Core
@using System.Globalization

@{
    Layout = "~/Views/Shared/_BlackLayout.cshtml";
}

@using (Html.BeginForm())
{
    <center> 
    <div class="tableTitle">
        <h2>My Bets</h2>
    </div>
    <br/>
    <div  class="tableBody">
    <table style="background-color: rgba(145, 145, 145, 0.8);">
        <tr>
            <th style="width:20px; text-align:right">@Html.Label("Date")</th>
            <th style="width:20px; text-align:right">@Html.Label("Settle Date")</th>
            <th style="width:20%; text-align:right">@Html.Label("Bet Amount")</th>
            <th style="width:20%; text-align:right">@Html.Label("Payout Amount")</th>
            <th style="width:20px; text-align:center">@Html.Label("Сurrency")</th>
            <th style="width:20px; text-align:center">@Html.Label("Your Exchange")</th>
            <th style="width:20px; text-align:center">@Html.Label("Real Exchange")</th>
        </tr>

   @for (int i = 0; i < Model.Count; i++)
   {
       <tr>
           <td style="text-align:right">@Model[i].RoomDate.ToLocalTime().ToString()</td>
           <td style="text-align:right">@Model[i].SettleDate.ToLocalTime().ToString()</td>
           <td style="text-align:right">@Model[i].BetAmount.ToString("C", new CultureInfo("uk-UA"))</td>
           <td style="text-align:right">
               @if (Model[i].PayoutAmount == null) 
               { 
                   @("--") ;
               } 
               else { 
                   @(((decimal)Model[i].PayoutAmount).ToString("C", new CultureInfo("uk-UA"))); 
               }
           </td>
           <td style="text-align:right">@Model[i].СurrencyName</td>
           <td style="text-align:right">@Model[i].UserCurrencyExchange.ToString("C", new CultureInfo("uk-UA"))</td>
           <td style="text-align:right">
               @if (Model[i].WonCurrencyExchange == null) 
               { 
                   @("--") ;
               } 
               else { 
                   @(((decimal)Model[i].WonCurrencyExchange).ToString("C", new CultureInfo("uk-UA"))); 
               }
</td>
</tr>

   }
 </table>
 </div>
    </center>
    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
}

