@model X.PagedList.IPagedList<CRBClient.Models.RatingViewModel>
@using X.PagedList.Mvc.Core

@{
    Layout = "~/Views/Shared/_BlackLayout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="tableTitle">
        <h2>@ViewData["Title"]</h2>
    </div>
    <br/>
        <div  class="tableBody">
    <table style="background-color: rgba(145, 145, 145, 0.8);">
        <tr>
            <th style="width:20px; text-align:right">@Html.Label("Rank")</th>
            <th style="width:20px; text-align:right">@Html.Label("Email")</th>
            <th style="width:50px; text-align:right">@Html.Label("Last Bet Date")</th>
            <th style="width:30px; text-align:right">
                @Html.ActionLink("Bets Number", "Index", new { sortOrder = ViewBag.BetNoSortParm })
                @if (ViewBag.CurrentSortOrder == "bets_no_asc")
                @("↓")
                @if (ViewBag.CurrentSortOrder == "bets_no")
                @("↑")
            </th>
            <th style="width:30px; text-align:right">
                @Html.ActionLink("Won Bets Number", "Index", new { sortOrder = ViewBag.WonBetNoSortParm })
                @if (ViewBag.CurrentSortOrder == "won_bets_no_asc")
                @("↓")
                @if (ViewBag.CurrentSortOrder == "won_bets_no")
                @("↑")
            </th>
            <th style="width:30px; text-align:right">
                @Html.ActionLink("Profit Percentage (%)", "Index", new { sortOrder = ViewBag.ProfitPercSortParm })
                @if (ViewBag.CurrentSortOrder == "profitperc_asc")
                @("↓")
                @if (ViewBag.CurrentSortOrder == "profitperc")
                @("↑")
            </th>
            <th style="width:30px; text-align:right">
                @Html.ActionLink("Won Bets Percentage (%)", "Index", new { sortOrder = ViewBag.WonBetsPercSortParm })
                @if (ViewBag.CurrentSortOrder == "wonbetsperc_acs")
                @("↓")
                @if (ViewBag.CurrentSortOrder == "wonbetsperc")
                @("↑")
            </th>
        </tr>

   @for (int i = 0; i < Model.Count; i++)
   {
       <tr>
           <td style="text-align:right">@(i+1)</td>
           <td style="text-align:right">@Model[i].Email</td>
           <td style="text-align:right">@Model[i].LastBetDate.ToLocalTime().ToString("MM.dd.yyyy HH:mm")</td>
           <td style="text-align:right">@Model[i].BetsNo</td>
           <td style="text-align:right">@Model[i].WonBetsNo</td>
           <td style="text-align:right">@(Math.Round(Model[i].ProfitPercentage * 100,2))</td>
           <td style="text-align:right">@(Math.Round(Model[i].WonBetsPercentage * 100,2))</td>
       </tr>
   }
 </table>
 </div>
    <div id="container" style="margin-left: 20px">
        <p></p>
        <p></p>
        <div class="pagination">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSortOrder }))
        </div>
    </div>
       
}

