@model PaginationList<CRBClient.Models.RoomViewModel>
@using System.Globalization
@using System.Reflection.Emit
@using CRBClient.Dto

@{
    Layout = "~/Views/Shared/_BlackLayout.cshtml";
}

<div class="main">
    <div class="filter">
        <h2>Filters</h2>
        <br/>
        <div class="valuta">
            @using (Html.BeginForm("Main", "Home", FormMethod.Get))
            {
                <p>
                    Find by currency name: <input type="text" name="searchNameString" value="@ViewData["CurrentNameFilter"]"/>
                </p>
                <p>
                    Find by start date: <input type="text" name="searchStartDateString" value="@ViewData["CurrentStartDateFilter"]" placeholder="format MM.dd.yyyy HH"/>
                </p>
                <p>
                    Find by end date: <input type="text" name="searchEndDateString" value="@ViewData["CurrentEndDateFilter"]" placeholder="format MM.dd.yyyy HH"/>
                </p>
                <br/>
                <input type="submit" value="Search" class="btn-success"/>
                <br/>
                <div class="btn-main">
                <a asp-action="Main">Back to full list</a>
                </div>
            }
        </div>
    </div>
    <div class="rooms">
        @foreach (var room in Model)
        {
            <div class="content_room">
                <div class="info_room">
                    <p>
                        @Html.Label(room.СurrencyName)
                    </p>
                </div>
                <div class="info_time">
                    <p>@Html.Label(room.Date.ToLocalTime().ToString("MM/dd/yyyy HH:mm", CultureInfo.InvariantCulture))</p>
                </div>
                <div class="info_valut">
                    <form asp-controller="Rate" asp-action="Index" asp-route-roomId="@room.Id"
                          asp-route-currencyName="@room.СurrencyName" method="post">
                        <button class="stavka" type="submit">Rate</button>
                    </form>
                </div>
            </div>
        }
    </div>
    <div class="currency-info">
        <h3>Latest Exchange Rates</h3>
        @foreach (var curr in ViewBag.CurrencyRates as List<CurrencyStateDto>)
        {
                <p>@curr.Currency (@Math.Round(curr.Rate, 2) -- @curr.Date)</p>
            }
    </div>
</div>
<div class="pagination-class">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "active";
        var nexDisabled = !Model.HasNextPage ? "disabled" : "active";
    }

    <a asp-action="Main"
       asp-route-searchNameString="@ViewData["CurrentNameFilter"]"
       asp-route-searchStartDateString="@ViewData["CurrentStartDateFilter"]"
       asp-route-searchEndDateString="@ViewData["CurrentEndDateFilter"]"
       asp-route-page="@(Model.PageIndex - 1)"
       class="@prevDisabled">
        Previous
    </a>

    <a asp-action="Main"
       asp-route-searchNameString="@ViewData["CurrentNameFilter"]"
       asp-route-searchStartDateString="@ViewData["CurrentStartDateFilter"]"
       asp-route-searchEndDateString="@ViewData["CurrentEndDateFilter"]"
       asp-route-page="@(Model.PageIndex + 1)"
       class="@nexDisabled">
        Next
    </a>
</div>